{% extends 'base.html' %}

{% block styles %}{% endblock %}

{% block title %}Where's My Restaurant? | Create a New Restaurant{% endblock %}

{% block content %}
    <div class="container-fluid p-4">
        <div class="container">
            <h4 class="fw-semibold">Create a New Restaurant:</h4>
            <hr class="divider mb-4">
            <div class="row">
                <form id="create-form" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="id_name" class="form-label">{{ form.name.label }}</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="id_type" class="form-label">{{ form.type.label }}</label>
                                    {{ form.type }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="id_telephone" class="form-label">{{ form.telephone.label }}</label>
                                    {{ form.telephone }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="id_address" class="form-label">{{ form.address.label }}</label>
                            {{ form.address }}
                        </div>
                    </div>
                    <div class="col-4 offset-4">
                        <div class="mb-3">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-primary">CREATE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function create_restaurant() {
            var form = document.getElementById('create-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                console.log('form submitted');
                var url = 'http://127.0.0.1:8000/api/restaurant-create/';
                var name = document.getElementById('id_name').value;
                var type = document.getElementById('id_type').value;
                var address = document.getElementById('id_address').value;
                var telephone = document.getElementById('id_telephone').value;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        'name': name,
                        'type': type,
                        'address': address,
                        'telephone': telephone,
                    }).then(function (response) {
                        console.log('done')
                    })
                })
            });
        }
    </script>
{% endblock %}